body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 300px;
    width: 60%;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(237, 237, 237);
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
}

.profile {
    text-align: center;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.profile a {
    text-decoration: none; 
    color: inherit;         
}

.profile img {
    width: 150px;
    height: 160px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.profile p {
    margin-top: 10px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    display: block;
}

.profile:hover {
    transform: scale(1.05); 

}

.profile:hover img {
    transform: scale(1.1); 
}

.profile:hover p {
    color: crimson;         
    transform: scale(1.1);  
}
.home {
    display: flex;
    background: black;
    justify-content: flex-start;
}
.home img {
    padding: 10px;
    height: 50px;
    width: auto;
}

.home p {
    color: rgb(241, 9, 9);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  padding: 20px 60px;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  color: #e50914;
  font-weight: bold;
  font-size: 22px;
}

.navbar nav a {
  color: #ccc;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: rgb(244, 9, 9);
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.4)),
              url('https://via.placeholder.com/1600x900') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding:  60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 25px;
  color: #ddd;
}

.hero-buttons button {
  margin-right: 15px;
}
.hero-buttons button:hover{
    background-color: #e50914;
}

.btn-primary {
  background: #333;
  border: none;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background: #333;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.categories {
  padding: 40px 60px;
}

.categories button {
  background: #1c1c1c;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  color: #fffefe;
  cursor: pointer;
}

.categories button:hover{
    background-color: #e50914;
}

.movie-section {
  padding: 0 60px 50px;
}

.movie-section h2 {
  margin-bottom: 20px;
}

.movie-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 200px;
  transition: 0.3s;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h4 {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.movie-card:hover {
  transform: scale(1.08);
}

.featured {
  height: 60vh;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
              url('https://via.placeholder.com/1600x900') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding:  60px;
  margin-top: 40px;
}

.featured-content {
  max-width: 600px;
}
.featured img {
    height: 490px;
    width: 800px;
}

.featured h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.featured p {
  margin-bottom: 20px;
  color: #ddd;
} 
.btn-primary:hover{
    background-color: red;
}