body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 300px;
    width: 60%;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(237, 237, 237);
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
}

.profile {
    text-align: center;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.profile a {
    text-decoration: none; 
    color: inherit;         
}

.profile img {
    width: 150px;
    height: 160px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.profile p {
    margin-top: 10px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    display: block;
}

.profile:hover {
    transform: scale(1.05); 

}

.profile:hover img {
    transform: scale(1.1); 
}

.profile:hover p {
    color: crimson;         
    transform: scale(1.1);  
}
body {
    margin: 0;
}

header {
    padding: 20px;
    background: black; 
}
body .home-page{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;  


header {
    padding: 15px 30px;  
}

.home {
    display: flex;
    align-items: center;      
    justify-content: flex-start; 
}
.home img {
    height: 50px;     
    width: auto;     
    display: block;
}

.home p {
    color: white;
    font-size: 20px;
    margin-left: 15px;  
    /* font-family:  "Lato", sans-serif;;  */
}